.portfilia a {
 color: black;
 text-decoration: none;
}
 a :hover{
color: rgb(255, 255, 255);
}
.portfilia{
     margin-top: 10px;
}
iframe{
     width: 560px;
     height: 315px;

}
.graphic{
     height: 55vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.photomain{
     text-align: center;
     height: 55vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.webmobile{
     display: none;
}
@media screen and (max-width:630px) {
     iframe{
          width: 400px;
          height: 200px;
          padding-right: 20px;
     }
}

@media only screen and (max-width: 514px) {
.webdesign{
     display: none;
}
.webmobile{
     display: inline;
     list-style: none;

}
.webmobile ul li{
     margin: 20px;
     display: inline-flex;
}
}
 
